@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Чат</title>
    </head>
    <body>
        <div id="chat-app">

        </div>
        <script>
           // Config add
        </script>
        <script src="~/widget.js"></script>
    </body>
</html>
@{/*<p>Test webSocket connection</p>
<input type="text" id="input"/>
<button type="button" id="button">Отправить</button>
<script>let socket = new WebSocket("ws://localhost:5000");

    socket.onopen = function (e) {
        alert("[open] Соединение установлено");
        alert("Отправляем данные на сервер");
        // socket.send("Меня зовут Джон");
    };

    const button = document.querySelector("#button");
    const input = document.querySelector("#input");

    button.addEventListener("click", () => {
        const text = input.value;
        socket.send(text);
    })

    socket.onmessage = function (event) {
        const body = document.querySelector("body");
        const div = document.createElement("div");
        div.innerHTML = "Message: " + event.data;
        body.append(div);
        // console.log(`[message] Данные получены с сервера: ${event.data}`);
    };

    socket.onclose = function (event) {
        if (event.wasClean) {
            alert(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
        } else {
            // например, сервер убил процесс или сеть недоступна
            // обычно в этом случае event.code 1006
            alert('[close] Соединение прервано');
        }
    };

    socket.onerror = function (error) {
        alert(`[error] ${error.message}`);
    };</script> */}