.input {
    position: relative;
    
    &__label {
        &-text {
            display: block;
            position: absolute;
            left: 5px;
            top: -0.6em;
            background-color: $white;
            font-size: 0.6em;
            padding: 0 8px 0 8px;
        }
        
        &_error {
            color: $error-color;
            input::placeholder{
                color: transparent;
            }
        }
    }

    &__control {
        outline: none;
        padding: 8px 25px 8px 16px;
        border: 0.5px solid $border-color;
        border-radius: 4px;
        min-width: 241px;

        &_full-width {
            width: 100%;
        }

        &:focus {
            @include setAlpha(border-color, $violet, 1);
        }
        
        &_error {
            border: 0.5px solid $error-color;
            &:focus {
                @include setAlpha(border-color, $error-color, 1);
            }
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
    }
    
    &__help {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 5px;
        position: relative;

        &-icon-container {
            width: 25px;
            height: 25px;
            //word-wrap: break-word;
            position: relative;

            .input__help-tooltip {
                position: absolute;
                bottom: 100%;
                right: 0;
                padding: 10px;
                background-color: $black;
                color: $white;
                opacity: 0;
                transition: opacity .5s;
                border-radius: 5px;
                max-width: $mobile-width;
                min-width: 200px;
            }

            &:hover {
                .input__help-tooltip {
                    opacity: 0.7;
                }
            }
        }

        &-icon {
            cursor: pointer;
        }
    }
}